*.wasm filter=lfs diff=lfs merge=lfs -text
*.data filter=lfs diff=lfs merge=lfs -text
*.framework.js filter=lfs diff=lfs merge=lfs -text
# General Unity Large Assets (Optional but recommended)
*.resource filter=lfs diff=lfs merge=lfs -text
*.resS filter=lfs diff=lfs merge=lfs -text
*.data.gz filter=lfs diff=lfs merge=lfs -text
*.framework.js.gz filter=lfs diff=lfs merge=lfs -text
*.wasm.gz filter=lfs diff=lfs merge=lfs -text
Build/WebGL_Build_7_2_2026.data.gz filter=lfs diff=lfs merge=lfs -text
*.unityweb filter=lfs diff=lfs merge=lfs -text
